
.BarBox{
    width: 30%;
}
.menuBar{
    width: 30%;
    text-align: left;
}

.menu1 {
    background-color: #eee8e1;
    color: #454541;
    border: none;
    position: relative;
    height: 50px;
    width: 50px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
}
.searchbooksOnly{
    background-color: transparent;
}

.menu1 div {
    position: absolute;
    left: 7px;
    height: 4px;
    width: 30px;
    background-color: #454541;
    border-radius: 2px;
    display: inline-block;
    box-sizing: border-box;
}

.menu1 div:nth-of-type(1) {
    bottom: 30px;
}

.menu1 div:nth-of-type(2) {
    bottom: 20px;
}

.menu1 div:nth-of-type(3) {
    bottom: 10px;
}

.offcanvas-header {
    background-color: #eee8e1;
    color: #D2B48C;
}

.toppagelink {
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    margin: 5px;
    font-size: 20px;
    color: #efefef;
    background: #D2B48C;
    border: solid 3px#D2B48C;
    border-radius: 10px;
}

.toppagelink:hover {
    opacity: 0.7;
    color:#efefef;
}

.message {
    font-size: 18px;
}

.mypagelink {
    font-size: 24px;
    color: #454541;
}

.mypagelink:hover {
    font-size: 24px;
    color: #D2B48C;
}

.logoutlink {
    font-size: 24px;
    color: #454541;
}

.logoutlink:hover {
    font-size: 24px;
    color: #D2B48C;
}

.loginlink {
    font-size: 24px;
    color: #454541;
}

.loginlink:hover {
    font-size: 24px;
    color: #D2B48C;
}

/*ここからDetail*/

.main{
    min-height:100vh;
    background-color:#eee8e1;
    text-align:center;
    font-size:20px;
    /* #eaddcd */
    /* #eee8e1 */
}

.page{
    text-align: center;
    color:#D2B48C;
    font-size:50px;
    padding-top:30px;
    border-bottom:2px dashed #D2B48C;
}

.main{
    text-align:center;
    background-color:#eee8e1;
    color:#454541;
}

.data{
   display:inline-block;
   text-align:left;
   font-size:22px;
   margin:20px;
   vertical-align:-30px;
}

.favorite{
    display:inline-block;
    text-decoration:none;
    margin-top:20px;
    padding: 10px 30px;
    color: #efefef;
    background: #D2B48C;
    border:solid 3px#D2B48C;
    border-radius: 10px;
}
.favorite:hover{
    opacity: 0.7;
    color:#efefef;
}
.message{
    display:inline-block;
    position:relative;
    right:200px;
}

.line{
    margin:20px;
    padding-top:10px;
    border-top:2px dashed #D2B48C;
}

.comment{
    overflow: auto;
    display:inline-block;
    background-color:#efefef;
    border:2px solid;
    border-radius:30px;
    margin:20px;
    padding:10px;
    width:40%;
    padding-top: 10px;
    min-height: 300px;
    max-height: 300px;
}

.user{
    color:#454541;
}
.user:hover{
    color:#D2B48C;
}