body {
    background-color:#eee8e1;
}

h1 {
    text-align: center;
    padding: 20px;
    margin: 0;
}
.page {
    text-align:center;
    color:#D2B48C;
    font-size:50px;
    padding-top:30px;
    border-bottom:2px dashed #D2B48C;
}

.form {
    width: 80%;
    margin: 20px auto;
    border:1px solid #a48660;
    background-color: #f4f2f0;
    padding: 50px;
    box-sizing: border-box;
}

.contents {
    margin-bottom: 30px;
    margin-left: 20%;
}

.label_left {
    display: inline-block;
    border-left: solid 5px #a48660;
    padding-left: 15px;
    vertical-align: top;
}

.form input[type="text"] {
    padding: 10px;
    width: 75%;
    background-color: white;
    border: none;
    display: block;
}

.form textarea {
    padding: 10px;
    height: 100px;
    font-size: 14px;
    width: 75%;
    border: none;
    background-color: white;
    display: block;
}

.form select {
    height: 35px;
    width: 77%;
    display: block;
}

.btns {
    display: flex;
    justify-content: center;
}

.form button {
    background: black;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0 5px;
    transition: 0.3s;
}

.form button:hover {
    background: #9c9c9c;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0 5px;
}

.linkbutton {
    text-align: right;
}

.faqlink {
    text-align: right;
    margin-top: 10px;
    margin-right: 120px;
}

.linkbutton {
    text-align: center;
}

.toppagelink {
    display:inline-block;
    text-decoration: none;
    padding:10px 20px;
    margin:5px;
    font-size:20px;
    color:#efefef;
    background:#D2B48C;
    border:solid#D2B48C;
    border-radius:10px;
}

.faq {
    display:inline-block;
    text-decoration: none;
    padding:10px 20px;
    margin:5px;
    font-size:20px;
    color:#efefef;
    background:#D2B48C;
    border:solid#D2B48C;
    border-radius:10px;
}

.faq:hover {
    display:inline-block;
    text-decoration: none;
    padding:10px 20px;
    margin:5px;
    font-size:20px;
    color:#efefef;
    background:#D2B48C;
    border:solid#D2B48C;
    border-radius:10px;
}