.menuBar{
    text-align:left;
}
.menu1{
    background-color:#eee8e1;
    color:#454541;
    border:none;
    position: relative;
    height:50px;
    width:50px;
    display: inline-block;
    box-sizing: border-box;
    border-radius:4px;
}
.menu1 div {
    position: absolute;
    left:7px;
    height:4px;
    width:30px;
    background-color:#454541;
    border-radius:2px;
    display: inline-block;
    box-sizing: border-box;
  }
  .menu1 div:nth-of-type(1) {
    bottom: 30px;
  }
  .menu1 div:nth-of-type(2) {
    bottom: 20px;
  }
  .menu1 div:nth-of-type(3) {
    bottom: 10px;
  }
  .offcanvas-header{
    background-color:#eee8e1;
    color:#D2B48C;
  }
.message{
    font-size:18px;
}
.mypagelink{
    font-size:24px;
    color: #454541;
}
.mypagelink:hover{
    font-size:24px;
    color:#D2B48C;
}
.logoutlink{
    font-size:24px;
    color: #454541;
}
.logoutlink:hover{
    font-size:24px;
    color:#D2B48C;
}

.main{
    min-height:100vh;
    background-color:#eee8e1;
    text-align:center;
    /* #eaddcd */
    /* #eee8e1 */
    
}

.page{
    text-align:center;
    color:#D2B48C;
    font-size:50px;
    padding-top:30px;
    border-bottom:2px dashed #D2B48C;
}

.box1{
    display:inline-block;
    background:#efefef;
    border:solid 3px#454541;
    border-radius:10px;
    font-size:20px;
    text-align:right;
    padding:15px;
    color:#454541;
    margin:20px;
    width:840px;
}

.content{
    font-size:26px;
    color:#D2B48C;
    text-align:center;
}

.link{
    color:#454541;
}
.link:hover{
    color:#D2B48C;
}

.data{
    text-align:left;
}

.bold{
    color:#454541;
}

.graph{
    display:inline-block;
    background:#efefef;
    border:solid 3px#454541;
    border-radius:10px;
    text-align:center;
    font-size:20px;
    padding:15px;
    color:#454541;
    margin:20px;
    width:840px;
}

.box2{
    background:#efefef;
    border:solid 3px#454541;
    border-radius:10px;
    font-size:20px;
    text-align:right;
    padding:15px;
    color:#454541;
    margin:20px 10px;
    width:265px;
}

.list{
    display: flex;
    justify-content:center;
}

.toppagelink{
    text-align: left;
    display:inline-block;
    text-decoration:none;
    padding:10px 30px;
    margin:5px;
    font-size:20px;
    color:#efefef;
    background:#D2B48C;
    border:solid 3px#D2B48C;
    border-radius:10px;
}
.toppagelink:hover{
    color:#efefef;
}