.main{
    min-height:100vh;
    background-color:#eee8e1;
    text-align:center;
    font-size:20px;
    /* #eaddcd */
    /* #eee8e1 */
}

.page{
    text-align:center;
    color:#D2B48C;
    font-size:50px;
    padding-top:30px;
    border-bottom:2px dashed #D2B48C;
}

.box1{
    background-color:#efefef;
    border:2px solid;
    border-radius:30px;
    margin:30px auto;
    width:400px;
}

.box2{
    display:inline-block;
    flex-wrap:wrap;
    background-color:#efefef;
    border:2px solid;
    border-radius:30px;
    margin:20px;
    width:400px;
}

.ranking{
    color:#454541;
    font-size:24px;
    padding:15px;
}

.rank1{
    color:#BDB76B;
    font-size:34px;
}
.rank2{
    color:#C0C0C0;
    font-size:34px;
}
.rank3{
    color:#B8860B;
    font-size:34px;
}
  
.title{
    color:#454541;
}
.title:hover{
    color:#D2B48C;
}

.image{
    display:inline-block;
    border:1px solid;
    font-size:50px;
    margin:20px;
    padding:50px;
}

.toppagelink{
    display:inline-block;
    text-decoration:none;
    padding:10px 30px;
    margin:5px;
    font-size:20px;
    color:#efefef;
    background:#D2B48C;
    border:solid 3px#D2B48C;
    border-radius:10px;
}
.toppagelink:hover{
    color:#efefef;
}
